// subheader color
$grey-a: #a9abb8;
// border color
$grey-b: #ecedf1;
// content subheader color
$grey-c: #b5b6c3;
// content background color
$grey-d: #fcfcfe;

// primary text color
$purple-a: #626689;
// primary accent color
$purple-b: rgb(85, 33, 180);
// light opacity color
$purple-c: #f7f5ff;

// content header
$blue-a: #414568;

// borders
$border-a: 1px solid $grey-b;